### Содержание: 
- [Лабораторная работа № 2](#Lab2)
- [Лабораторная работа № 3](#Lab3)
- [Лабораторная работа № 4](#Lab4)
- [Лабораторная работа № 5](#Lab5)
- [Лабораторная работа № 6](#Lab6)
- [Лабораторная работа № 7](#Lab7)

## <a name="Lab2">Лабораторная работа № 2</a>

* Выбрать и скачать на сайте Kaggle.com набор данных (DataSet) в формате csv, содержащий не менее 3-х категориальных атрибутов; 
* Ссылку на выбранный DataSet скинуть в чат группы. 
* DataSet в группе не должны повторяться. 
* Создать notebook на Colab и подключить к нему выбранный DataSet.

In [2]:
import pandas as pd

datafile = open("../data/athlete_events.csv", "r")
df = pd.read_csv(datafile)
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

## <a name="Lab3">Лабораторная работа № 3. Поиск функциональных зависимостей</a>

- Написать на языке python обнаружения функциональных зависимостей в DataSet библиотеки pandas

In [3]:
from itertools import permutations


def check_fd(series_1, series_2):
    if series_1.nunique() < series_2.nunique():
        #         print("Violates by unique")
        return False

    values = {}
    for val_1, val_2 in zip(series_1, series_2):
        if val_1 not in values:
            values[val_1] = val_2
        elif values[val_1] != val_2:
            #             print(f"Violates by values: {values[val_1]}, {val_2}")
            return False

    return True


for attr_1, attr_2 in permutations(df.columns, 2):
    #     print(f"Check {attr_1} and {attr_2}")
    if check_fd(df[attr_1], df[attr_2]):
        print(f"{attr_1} -> {attr_2}")
#     print("CHECKED-------------\n\n")

ID -> Name
ID -> Sex
Games -> Year
Games -> Season
City -> Season
Event -> Sport

## <a name="Lab4">Лабораторная работа № 4</a>

- Проанализировать типы атрибутов DataSet, определить тип (номинальный, порядковый, дискретный, (интервальный), непрерывный), домен (множество принимаемых значений) и шкалу;
- Выявить и устранить аномалии в DataSet (неатомарные атрибуты, ошибки ввода, гетерогенные данные, ошибка определения типа, подмена сущностей экземплярами);
- Сохранить предобработанный DataSet и в дальнейшем работать с ним.

### Типы данных:

ID - Атрибутивный,порядковый.	
1 - 135571

Name - Атрибутивный,номинальный.

Sex - Атрибутивный,номинальный.
M, F

Age - Переменный,относительный.
10 - 97

Height - Переменный,относительный.
127 - 226

Weight - Переменный,относительный.
25 - 214

Team - Атрибутивный,номинальный.

NOC - Атрибутивный,номинальный.

Games - Атрибутивный,порядковый.
1896 Summer - 2016 Summer

Year - Переменный,интервальный.
1896 - 2016

Season - Атрибутивный,номинальный.
Winter - Summer

City - Атрибутивный,номинальный.

Sport - Атрибутивный,номинальный.

Event - Атрибутивный,номинальный.

Medal - Атрибутивный,порядковый.
Gold,Silver,Bronze,None

### Устранение аномалий и рефакторинг датасета

#### Удалим столбец Games, дублирующий данные из колонок Year и Season

In [4]:
df = df.drop("Games", axis=1)
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

#### Исправим ошибки ввода в столбце полного названия страны на основании наиболее частого сочетания (NOC, Country)

In [5]:
from collections import Counter

most_common_team_name = df.groupby("NOC").apply(lambda g: Counter(g.Team)).apply(
    lambda g: max(g.items(), key=lambda pair: pair[1])[0]
)
fixed_country_names = df.NOC.map(lambda noc: most_common_team_name[noc])
df.Team = fixed_country_names
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland,POL,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

Отформатируем возраст

In [6]:
df.Age = df.Age.map(lambda age: 26 if pd.isnull(age) else age )
df.Age = df.Age.astype('int8')
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23,170.0,60.0,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185.0,82.0,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29,179.0,89.0,Poland,POL,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27,176.0,59.0,Poland,POL,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27,176.0,59.0,Poland,POL,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30,185.0,96.0,Poland,POL,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34,185.0,96.0,Poland,POL,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

#### Установим значение "None" вместо NaN в колонке медалей:

In [7]:
df.Medal = df.Medal.map(lambda med: None if pd.isnull(med) else med)
df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24,180.0,80.0,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,None
1,2,A Lamusi,M,23,170.0,60.0,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,None
2,3,Gunnar Nielsen Aaby,M,24,NaN,NaN,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,None
3,4,Edgar Lindenau Aabye,M,34,NaN,NaN,Denmark,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185.0,82.0,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29,179.0,89.0,Poland,POL,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,None
271112,135570,Piotr ya,M,27,176.0,59.0,Poland,POL,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",None
271113,135570,Piotr ya,M,27,176.0,59.0,Poland,POL,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",None
271114,135571,Tomasz Ireneusz ya,M,30,185.0,96.0,Poland,POL,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,None
271115,135571,Tomasz Ireneusz ya,M,34,185.0,96.0,Poland,POL,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,None

#### Добавим отсутствующие значения веса и роста путем вычисления среднего арифметического

In [8]:
means = df.groupby(["Sex", "Event"]).mean()
mean_heights = means["Height"]
mean_weights = means["Weight"]

aliases = df[["Sex", "Event"]].apply(lambda row: (row.Sex, row.Event), axis=1)
weights, heights = df.Weight, df.Height

weight_isnull = weights.map(pd.isnull)
height_isnull = heights.map(pd.isnull)

normalized_weihgts_asindex = df.index.map(lambda i: mean_weights[aliases[i]] if weight_isnull[i] else weights[i])
normalized_weights = pd.Series(normalized_weihgts_asindex.values)

normalized_heights_asindex = df.index.map(lambda i: mean_heights[aliases[i]] if height_isnull[i] else heights[i])
normalized_heights = pd.Series(normalized_heights_asindex.values)

df.Height = normalized_heights
df.Weight = normalized_weights

df

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24,180.000000,80.000000,China,CHN,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,None
1,2,A Lamusi,M,23,170.000000,60.000000,China,CHN,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,None
2,3,Gunnar Nielsen Aaby,M,24,177.480339,73.086644,Denmark,DEN,1920,Summer,Antwerpen,Football,Football Men's Football,None
3,4,Edgar Lindenau Aabye,M,34,182.480000,95.615385,Denmark,DEN,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21,185.000000,82.000000,Netherlands,NED,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29,179.000000,89.000000,Poland,POL,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,None
271112,135570,Piotr ya,M,27,176.000000,59.000000,Poland,POL,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",None
271113,135570,Piotr ya,M,27,176.000000,59.000000,Poland,POL,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",None
271114,135571,Tomasz Ireneusz ya,M,30,185.000000,96.000000,Poland,POL,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,None
271115,135571,Tomasz Ireneusz ya,M,34,185.000000,96.000000,Poland,POL,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,None

## <a name="Lab5">Лабораторная работа № 5 </a>

- Для предобработанного DataSet:
 - выявить ФЗ и построить ER-диаграмму;
 - построить нормализованную схему (3 НФ);
 - построить схему в нотации UML.

#### Выведем фукнциональные зависимости:

In [9]:
for attr_1, attr_2 in permutations(df.columns, 2):
    if check_fd(df[attr_1], df[attr_2]):
        print(f"{attr_1} -> {attr_2}")

ID -> Name
ID -> Sex
Team -> NOC
NOC -> Team
City -> Season
Event -> Sport

## <a name='Lab7'>Лабораторная № 7</a>
Анализ DF-модели. Составить кросс таблицу на основе некоторых измерений.

Создадим кросс-таблицу для нашего датасета. В качестве целевого факта возьмем спортсмена. Составим кросс-таблицу в которой отобразим количество спортменов от некоторой страны за некоторый год.

In [196]:
df[["Name", "Year", "NOC"]].pivot_table(index="NOC", columns="Year", values="Name", aggfunc='count', fill_value=0)

Year,1896,1900,1904,1906,1908,1912,1920,1924,1928,1932,...,1998,2000,2002,2004,2006,2008,2010,2012,2014,2016
NOC,,,,,,,,,,,,,,,,,,,,,
AFG,0,0,0,0,0,0,0,0,0,0,...,0,0,0,5,0,4,0,6,0,3
AHO,0,0,0,0,0,0,0,0,0,0,...,0,8,0,3,0,4,0,0,0,0
ALB,0,0,0,0,0,0,0,0,0,0,...,0,5,0,7,3,12,2,10,2,6
ALG,0,0,0,0,0,0,0,0,0,0,...,0,51,0,71,3,57,1,39,0,74
AND,0,0,0,0,0,0,0,0,0,0,...,7,5,5,6,10,5,20,6,12,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YEM,0,0,0,0,0,0,0,0,0,0,...,0,2,0,3,0,8,0,4,0,3
YMD,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
YUG,0,0,0,0,0,0,15,123,94,1,...,0,0,0,0,0,0,0,0,0,0
ZAM,0,0,0,0,0,0,0,0,0,0,...,0,8,0,6,0,8,0,7,0,7
ZIM,0,0,0,0,0,0,0,0,2,0,...,0,26,0,14,0,16,0,9,2,31